#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--edges);
  gap: 120px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 450px;

  & h2 {
    margin-bottom: 20px;
  }

  &.us {
    align-items: end;
  }
}
