---
import BlogItem from './_components/blog-item/blog-item.astro';
---

<section id="blog">
  <h2 class="title-mini">Blogs</h2>
  <h3 class="title-block">Gerícht updates</h3>
  <div class="blog-list">
    <BlogItem />
    <BlogItem />
    <BlogItem />
    <BlogItem />
  </div>
  <a href="#" type="button" class="button">View More</a>
</section>