<section id="subscribe">
  <form id="subscribeForm">
    <h2 class="title-mini">Newsletter</h2>
    <h3 class="title-block">Subscribe to Our Newsletter</h3>
    <p>And never miss latest Updates!</p>
    <div class="subscribe-container">
      <label class="form-label">
        <input type="email" name="mail" class="form-input" required placeholder="">
        <span class="form-input__title">Email Address</span>
      </label>
      <button type="submit" class="button">Subscribe</button>
    </div>
  </form>
</section>