#subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--edges);
}

#subscribeForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: var(--c-bg-block);
  border: 1px solid var(--c-accent-medium);
  padding: var(--edges);
  width: 100%;
  max-width: 1200px;
}

.subscribe-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;

  & .form-label {
    width: 100%;
    max-width: 500px;
  }
}