---
import Logo from '../../../_elements/logo/logo.astro';
---

<header id="header">
  <a href="/" class="header-logo" title="home page">
    <Logo>
  </a>
  <nav class="header-nav">
    <ul class="header-nav__list">
      <li>
        <a href="/" class="link">Home</a>
      </li>
      <li>
        <a href="#" class="link">Pages</a>
      </li>
      <li>
        <a href="#" class="link">Contact Us</a>
      </li>
      <li>
        <a href="#" class="link">Blog</a>
      </li>
      <li>
        <a href="#" class="link">Landing</a>
      </li>
    </ul>
  </nav>
  <button type="button" name="logIn" class="link">Log in / registration</button>
  <button type="button" name="bookTable" class="link">Book table</button>
</header>