#gallery {
  min-height: 600px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.gallery-container {
  flex: 1;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 18vw;
}

.gallery-list {
  flex: 1;
  display: flex;
  gap: 20px;
  overflow: hidden;
}

.gallery-item {
  position: relative;
  flex: 1;
  border: 1px solid var(--c-accent-medium);
  min-width: 300px;
  aspect-ratio: 301 / 447;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}