---
import Testimonial from './_components/testimonial/testimonial.astro';
---

<section id="testimonials">
  <h2 class="title-mini">Testimony</h2>
  <h3 class="title-block">Happy customers</h3>
  <div class="tetstimonials-list">
    <Testimonial />
  </div>
</section>