---
import { Image } from 'astro:assets'
import img from '../../../../_img/awards3.png'
---

<div class="awards-item">
  <Image src={img} densities={[1.5, 2]} alt="awards img" />
  <div class="awards-item__data">
    <h4>Bib Gourmond</h4>
    <p>Lorem ipsum dolor sit amet, consectetur.</p>
  </div>
</div>